<html>
<head>
    <meta charset="utf-8">
</head>
<body>
    <div>
        <table width="100%" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td>
                        <table width="540" class="m_-1833213089659437208w100" align="center" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                                <tr>
                                    <td style="padding-top:20px;padding-bottom:20px">
                                        <a href="http://morningly.ru" target="_blank">
                                            <img style="display: block; margin: auto; text-align: center" width="195px" height="44px" alt="Morningly" src="https://morningly.s3.eu-central-1.amazonaws.com/images/morningly_logo_small.png">
                                        </a>
                                    </td>
                                </tr>
                                <tr align="center" style="text-align:center">
                                    <td align="center" valign="top" style="text-align:center">

                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td valign="top" class="m_-1833213089659437208mcnTextContent" style="padding-top:0;padding-right:8px;padding-bottom:9px;padding-left:8px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                                        <h1 style="font-family:Helvetica;font-size:24px;font-weight:bold;color:#000000;margin:0;line-height:1.1;margin-top:15px"></h1>
                                        <h1 style="font-family:Helvetica;font-size:24px;font-weight:bold;color:#000000;margin:0;line-height:1.1;margin-top:15px"></h1>
                                        <h2 style="font-weight:400;font-family:Helvetica;font-size:19px;color:#000000;margin-top:0;margin-bottom:10px;margin-right:0;margin-left:0">
                                            Спасибо, что подписались на <span class="il">Morningly</span>…
                                        </h2>
                                        <p style="font-family:Helvetica;line-height:20px;margin-top:0;font-size:15px!important">
                                            гарантируем доставлять Вам свежие бизнес новости 5 дней в неделю.
                                        </p>
                                        <p style="font-family:Helvetica;line-height:20px;margin-top:0;font-size:15px!important">
                                            <span class="il">Morningly</span> будет ждать Вас в почтовом ящике каждое <span class="il">утро</span> с понедельника по пятницу. Чтобы начать получать выпуски, пожалуйста, перейдите по ссылке:
                                        </p>
                                        <p dir="ltr" style="font-family:Helvetica;line-height:20px;margin-top:0;margin-bottom:0;font-size:15px!important">
                                            <a href="http://{{ request.get_host }}{% url "confirm-email" slug %}">http://{{ request.get_host }}{% url "confirm-email" slug %}</a>
                                        </p>
                                        <p style="font-family:Helvetica;line-height:20px;margin-top:0;font-size:15px!important">
                                            Если у Вас есть вопросы или пожелания, не стесняйнесь писать нам.
                                        </p>
                                        <p dir="ltr" style="font-family:Helvetica;line-height:20px;margin-top:0;font-size:15px!important">
                                            <br>
                                                До встречи,
                                            <br>
                                            <em>Команда <span class="il">Morningly</span></em>
                                        </p>
                                        <p dir="ltr" style="font-family:Helvetica;line-height:20px;margin-top:0;font-size:15px!important">
                                            P.S. Если не терпится, взгляните на наш последний выпуск
                                            <a class="m_-1833213089659437208link" href="http://{{ request.get_host }}{% url "latest" %}" style="border-bottom-width:2px;border-bottom-style:solid;border-bottom-color:#f2ce00;text-decoration:none!important;color:#f2ce00!important;font-weight:inherit!important" target="_blank"><font color="black">здесь</font></a>.
                                        </p>
                                        <hr style="background-color:grey;border-color:transparent;margin-top:2em">
                                        <p style="line-height:14px">
                                            <small style="line-height:14px;font-weight:300;font-size:12px">
                                                Вы получили это письмо, потому что подписались на <span class="il">Morningly</span>. Если вы считаете, что получили это письмо по ошибке, вы можете проигнорировать его или отписаться
                                                <a href="http://{{ request.get_host }}{% url "unsubscribe" uuid %}" style="font-family:Arial,sans-serif;font-size:12px;color:#f2ce00;line-height:14px" target="_blank">здесь</a>.
                                                <br><br>
                                                <span class="il">Morningly</span> // Страна Россия, город Москва
                                            </small>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>