{% extends "skeleton.html" %}

{% block title %}Политика Конфидециальности{% endblock %}

{% block content %}
    <div class="mx-5 px-5 my-5">
        <strong>Политика Конфиденциальности</strong>
        <br><br>
        1. Общие положения.
        <br><br>
        1.1. Настоящая Политика конфиденциальности персональных данных (далее - Политика) действует в отношении
        всех персональных данных, которую Индивидуальный Предприниматель Котуа Игорь Гочиевич (далее – Компания),
        может получить от пользователя (лица, заполнившего форму обратной связи, использующего другие сервисы официального сайта,
        https://morningly.ru/, а так же всех его поддоменов (далее – Сайт)), в частности в ходе: отправки отзывов или вопросов,
        заказа продукции, участия в рекламных и маркетинговых кампаниях или акциях и/или ином взаимодействии (далее – Услуги).
        <br><br>
        1.2. Заполняя форму обратной связи и нажимая кнопку «Подписаться», расположенную на странице Сайта,
        на которой размещена форма обратной связи, а равно указывая свои персональные данные при использовании других сервисов Сайта,
        пользователь выражает согласие с настоящей Политикой и указанными в ней условиями обработки и передачи его персональных данных.
        Согласие Пользователя на предоставление, обработку и передачу его Персональных данных Компании в соответствии с Политикой является полным и безусловным.
        <br><br>
        1.3. Посетителям Сайта следует воздержаться от заполнения формы и/или от использования других сервисов Сайта, в случае несогласия (полного или частичного) с Политикой,
        а равно несогласия предоставить персональные данные.
        <br><br>
        1.4. Согласие, даваемое пользователем, включает в себя согласие на сбор, систематизацию, накопление, хранение,
        уточнение (обновление, изменение), использование, передачу внутри Компании или поставщику услуг,
        обязующегося выполнять условия договора о защите персональных данных, в целях рассылки информационных материалов или в рекламных целях,
        трансграничную передачу, блокирование, обезличивание, уничтожение персональных данных.
        <br><br>
        1.5. Согласие, даваемое пользователем распространяется на следующие персональные данные: фамилия, имя и отчество, адрес электронной почты,
        почтовый адрес, контактный телефон.
        <br><br>
        1.6. Срок действия согласия пользователя является неограниченным, однако,
        пользователь вправе в любой момент отозвать настоящее согласие путём направления письменного уведомления
        на адрес электронной почты: squad@morningly.ru, с пометкой «отзыв согласия на обработку персональных данных».
        <br><br>
        1.7. Для конкретных Услуг, предоставляемых Компанией, Компания может публиковать дополнительные положения,
        дополняющие настоящую Политику.
        <br>
        2. Персональные данные пользователей, которые получает и обрабатывает Компания.
        <br><br>
        2.1. В рамках настоящей Политики под персональными данными пользователя понимаются:
        <br><br>
        2.1.1. Персональные данные, которые пользователь предоставляет о себе самостоятельно, при заполнении формы обратной связи на Сайте,
        при использовании других сервисов Сайта, при регистрации (создании учётной записи) на Сайте или в процессе использования Услуг,
        предоставляемых Компанией.
        Соответствующая информация явно обозначена, к ней, в частности отнесены: фамилия, имя и отчество, адрес электронной почты, почтовый адрес, контактный телефон.
        Иная информация предоставляется пользователем на его усмотрение.
        <br><br>
        2.1.2. Иная информация о пользователе, сбор и/или предоставление которой определено Компанией для предоставления отдельных Услуг дополнительно,
        о чём явно указано при заказе отдельных Услуг.
        <br><br>
        2.2. Компания исходит из того, что пользователь представляет достоверные персональные данные.
        <br><br>2
        .3. Компания исходит из того, что пользователь имеет право предоставить Персональные данные.
        <br><br>
        3. Google Analytics.
        <br><br>
        3.1. Мы используем средства "Google Analytics" для сбора сведений об использовании Сайта, таких как частота посещения Сайта пользователями,
        посещенные страницы и сайты, на которых были пользователи до перехода на данный Сайт.
        Google Analytics собирает только IP-адреса, назначенные вам в день посещения данного Сайта,
        но не имя или другие идентификационные сведения.
        <br><br>
        3.2. Google Analytics размещает постоянный cookie-файл в вашем веб-браузере для идентификации вас в качестве
        уникального пользователя при следующем вашем посещении данного Сайта.
        Этот cookie-файл не может использоваться никем, кроме Google, Inc.
        Сведения, собранные с помощью cookie-файла, будут передаваться в Google и храниться на серверах корпорации в США.
        <br><br>
        3.3. Мы используем сведения, полученные через Google Analytics, только для совершенствования услуг на данном Сайте.
        Мы не объединяем сведения, полученные через Google Analytics, с персональными сведениями.
        <br><br>
        3.4. Возможности Google по использованию и передаче третьим лицам сведений, собранных средством Google Analytics о ваших посещениях данного Сайта,
        ограничиваются Политикой конфиденциальности Google.
        Вы можете запретить Google Analytics узнавать вас при повторных посещениях данного Сайта, отключив cookie-файлы Google Analytics в своем браузере или вы можете использовать
        <a href="https://tools.google.com/dlpage/gaoptout/">Блокировщик Google Analytics</a>.
        <br><br>
        4. Цели обработки персональной информации пользователей.
        <br><br>
        4.1. Компания обрабатывает только те персональные данные, которые необходимы для оказания и улучшения качества Услуг.
        <br><br>
        4.2. Персональную информацию пользователя Компании может использовать в следующих целях:
        <br><br>
        4.2.1. Идентификация стороны в рамках оказания Услуги.
        <br><br>
        4.2.2. Предоставление пользователю персонализированных Услуг.
        <br><br>
        4.2.3. Улучшение качества Услуг и разработка новых.
        <br><br>
        4.2.4. Проведение статистических и иных исследований, на основе обезличенных данных.
        <br><br>
        5. Передача персональных данных пользователя третьим лицам.
        <br><br>
        5.1. В отношении персональных данных пользователя сохраняется ее конфиденциальность, кроме случаев обработки персональных данных,
        доступ неограниченного круга лиц к которым предоставлен пользователем либо по его просьбе.
        <br><br>
        5.2. Компания вправе передать персональную информацию пользователя третьим лицам в следующих случаях:
        <br><br>
        5.2.1. Пользователь предоставил свое согласие на такие действия.
        <br><br>
        5.2.2. Передача необходима для достижения целей, осуществления и выполнения функций, полномочий и обязанностей,
        возложенных законодательством Российской Федерации на Компанию.
        <br><br>
        6. Меры, применяемые для защиты персональных данных пользователей.
        <br><br>
        6.1. Компания принимает необходимые и достаточные организационные и технические меры для защиты
        персональных данных пользователя от неправомерного или случайного доступа,
        уничтожения, изменения, блокирования, копирования, распространения,
        а также от иных неправомерных действий с персональными данными третьих лиц.
        <br><br>
        7. Права и обязанности пользователя.
        <br><br>
        7.1. Компания предпринимает разумные меры для поддержания точности и актуальности, имеющихся у Компании персональных данных,
        а также удаления устаревших и других недостоверных или излишних персональных данных, тем не менее,
        Пользователь несет ответственность за предоставление достоверных сведений,
        а также за обновление предоставленных данных в случае каких-либо изменений.
        <br><br>
        7.2. Пользователь может в любой момент изменить (обновить, дополнить, блокировать, уничтожить) предоставленную им персональную информацию или её часть,
        а также параметры её конфиденциальности путем обращения в Компанию.
        <br><br>
        7.2.1. Пользователь вправе в любой момент отозвать согласие на обработку Компанией персональных данных путём направления письменного уведомления на электронный адрес:
        squad@morningly.ru с пометкой «отзыв согласия на обработку персональных данных»,
        при этом отзыв пользователем согласия на обработку персональных данных влечёт за собой удаление учётной записи пользователя с Сайта,
        а также уничтожение записей, содержащих персональные данные, в системах обработки персональных данных Компании
        <br><br>
        7.3. Пользователь имеет право на получение информации, касающейся обработки его персональных данных Компанией.
        <br><br>
        8. Обратная связь. Вопросы и предложения.
        <br><br>Все предложения или вопросы по поводу настоящей Политики Компания просит сообщать по адресу электронной почты
        squad@morningly.ru
        <br>
        <br>
        <br>
    </div>
{% endblock %}