{% extends "skeleton.html" %}

{% block title %}Ограничения Ответсвенности{% endblock %}

{% block content %}
    <div class="mx-5 pd-5 my-5">
        <strong>Положение об ограничении ответственности </strong>
        <br><br>
        Интернет-сайт morningly.ru (далее — «Сайт») принадлежит ИП Котуа Игорь Гочиевич.
        Все права на Сайт защищены, и их нарушение преследуется в соответствии с законодательством Российской Федерации.
        <br><br>
        Обращаем Ваше внимание на то, что Сайт не является средством массовой информации
        и предназначен исключительно для предоставления пользователям Сайта сведений наиболее общего характера
        и справочной информации. Никакая информация, опубликованная на сайте, ни при каких условиях не является публичной офертой.
        <br><br>
        ИП Котуа Игорь Гочиевич не гарантирует, что Сайт при любых обстоятельствах будет работать бесперебойно,
        без задержек, ошибок и упущений.
        <br><br>
        Все материалы, представленные на данном сайте носят исключительно ознакомительный характер;
        они не являются предложением или советом по покупке либо продаже долей компаний в любом виде и не должны рассматриваться как рекомендации
        к подобного рода действиям.
        ИП Котуа Игорь Гочиевич или любое лицо, аффилированное с ИП Котуа Игорь Гочиевич,
        ни при каких обстоятельствах не несет никакой ответственности за какие-либо неблагоприятные последствия,
        возникающие в связи с использованием Сайтом, его содержанием, или в результате доступа на Сайт,
        или копирования, воспроизведения или иного использования Сайта, включая любые убытки,
        материальный либо нематериальный ущерб
        (в том числе убытки, связанные с недополученной коммерческой прибылью, прерыванием деятельности,
        утратой информации или любой иной имущественный ущерб), даже если ИП Котуа Игорь Гочиевич был уведомлен о возможности
        возникновения таких убытков и/или убытков.
        <br><br>
        Любая доступная на сайте информация, которую представители средств массовой информации намерены использовать для подготовки публикаций
        в средствах массовой информации,
        должна быть в письменной форме согласована с представителям ИП Котуа Игорь Гочиевич,
        в том числе посредством обращения заинтересованных лиц в ИП Котуа Игорь Гочиевич по адресу электронной почты,
        указанному на Сайте в разделе «Контакты» с целью уточнения актуальности и корректности такой информации.
        <br><br>
        ИП Котуа Игорь Гочиевич не несет никакой ответственности за содержание любых рекламных материалов,
        расположенных на Сайте в настоящее время или которые могут быть размещены на Сайте в будущем.
        <br><br>
        Права на любые охраняемые любым применимым правом средства индивидуализации товаров, работ и услуг,
        которые размещены на Сайте в настоящее время или которые могут быть размещены на Сайте в будущем,
        принадлежат их законным правообладателям и/или законным владельцам.
        При копировании любой информации с Сайта прямая индексируемая ссылка на Сайт обязательна для всех без исключения
        пользователей Сайта.
        В противном случае ИП Котуа Игорь Гочиевич вправе воспользоваться любыми средствами правовой защиты,
        доступными по соответствующему применимому праву.
        <br><br>
        Сайт оставляет за собой право в одностороннем порядке вносить изменения в настоящие положения
        об ограничении ответственности перед любыми пользователями Сайта.
        <br><br><br>
    </div>
{% endblock %}