{% extends 'base.html' %} {% load static %} {% block fb_action %} fbq('track',
'CompleteRegistration'); {% endblock %} {% block title %}
<title>Morningly | Thanks for subscribing!</title>
{% endblock %} {% block content %}
<div class="FullScreenLayout">
  <div class="LandingPage">
    <div class="LandingPageLeft">
      <img
        alt="morningly logo"
        src="{% static 'email_website/morningly_logo_small.png' %}"
      />
      <h3 class="main-h3">Thanks for subscribing!</h3>
      <p>
        You should receive an email shortly - <strong>follow a link</strong> in
        it to confirm your address. Not seeing an email? Go check
        <strong>spam</strong> folder.
      </p>
      <p>
        <strong>P.S:</strong> You just became subscriber
        <strong>#{{ subscribers_count }}!</strong>
      </p>
    </div>
  </div>
</div>
{% endblock %}
